{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>{% block title %}{% endblock %}</title></head>
<body>
    <aside>
        <img src="{% static 'main/css/img/free-icon-rectangle-9215438.png' %}" alt="logo">
        <span class="logo">Lesson</span>
        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i> Про нас</li></a>
            <a href=""><li><i class="fas fa-paper-plane"></i> Контакты</li></a>
        </ul>
    </aside> 
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>